<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageservice" class="com.objectiveDI.MessagingService"/>
    <bean id="callingservice" class="com.objectiveDI.CallingTuneServices"/>
    <bean id="internetservice" class="com.objectiveDI.InternetServices"/>
    
    <bean id="airtel" class="com.objectiveDI.Airtel">
      <property name="service" ref="callingservice"/>
    </bean>
    
  </beans>